
.wrapper{
    width: 1024px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    &__menu{
        display: flex;
    }

    &__user{
        width: 60px;

        img{
            width: 100%;
        }
    }
}